<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Query Results</title>
</head>
<body>
    <h2>Query Engine</h2>
    
    <form method="post">
        {% csrf_token %}
        <input type="text" id="type" name="type"> <!-- Change 'query' to 'type' -->
        <button type="submit">Query</button>
    </form>
    
    {% if query_result %}
    <h2>Query Result:</h2>
    <ul>
        {% for record in query_result %}
            <li>{{ record }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <h2>Parsed data preview</h2>
    <ul>
        {% for data_object in data_objects %}
        <li>
            <strong>Data:</strong> {{ data_object|safe }}
        </li>
        {% endfor %}
    </ul>
</body>
</html>
